<header>
  <nav>
    <ul>
      <li>
        <a href="#planning-voor-vandaag">Planning voor vandaag</a>
      </li>
      <li>
        <a href="#april">April</a>
      </li>
      <li>
        <a href="#mei">Mei</a>
      </li>
    </ul>
  </nav>
</header>
