<section>
  <h2>
    <%= month %>
  </h2>
  <form action="POST" action="" id="schedule-form">
    <fieldset>
      week1
    </fieldset>
    <fieldset>
      week2
    </fieldset>
    <fieldset>
      week3
    </fieldset>
    <fieldset>
      week4
    </fieldset>
    <fieldset>
      fase
    </fieldset>

    <fieldset>
      <input type="hidden" name="month" value="<%= month %>">
      <input type="submit" value="invullen">
    </fieldset>
  </form>
</section>
