<section>
  <h2>
    <%= month %>
  </h2>
  <form action="POST" action="" id="schedule-form">
    <% weeks.forEach(week => { %>
      <fieldset>
        <legend>
          Week <%= week.week %>
        </legend>

        <% week.days.forEach(day => { %>
          <fieldset>
            <%= day %>
          </fieldset>
        <% }) %>
      </fieldset>
    <% }) %>

    <fieldset>
      <input type="hidden" name="month" value="<%= month %>">
      <input type="submit" value="invullen">
    </fieldset>
  </form>
</section>
