<%- include('partials/head') %>
<%- include('partials/header') %>

<main>

  <article id="april">

    <header>
      <h2>Schema voor de maand April</h2>
    </header>

    <nav>

      <ul>
        <li>
          <a href="#april-1">eerste week</a>
        </li>
        <li>
          <a href="#april-2">tweede week</a>
        </li>
        <li>
          <a href="#april-3">derde week</a>
        </li>
        <li>
          <a href="#april-4">laatste dagen van de maand April</a>
        </li>
        <li>
          <a href="#april-fase">Fase planning maand April</a>
        </li>
      </ul>
    </nav>

    <div id="april-1">
      <h3>April week 1</h3>

      <div id="april-1">
        <p>1 April vrij</p>
        <p>2 April baan training van 15 tot 17 uur</p>
        <p>3 April vrij</p>
        <p>4 April vrij</p>
        <p>5 April vrij</p>
        <p>6 April vrij</p>
        <p>7 April baan training van 10 tot 13 uur</p>
      </div>

      <div id="april-2">
        <h3>April week 2</h3>
        <p>8 April vrij</p>
        <p>9 April vrij</p>
        <p>10 April baan training van 10 tot half 1</p>
        <p>11 April vrij</p>
        <p>12 April vrij</p>
        <p>13 April vrij</p>
        <p>14 April baan training ing in Alkmaar van 11 tot 13 uur</p>
      </div>

      <div id="april-3">
        <h3>April week 3</h3>
        <p>15 April vrij</p>
        <p>16 April vrij</p>
        <p>17 April niet duidelijk wat voor dag dit is (TODO)</p>
        <p>18 April vrij</p>
        <p>19 April vrij</p>
        <p>20 April vrij</p>
        <p>21 April baan training ing in Alkmaar van 10 tot 13 uur</p>
      </div>

      <div id="april-4">
        <h3>April week 4</h3>
        <p>22 April vrij</p>
        <p>23 April vrij</p>
        <p>24 April baan training van 10 tot 13 uur</p>
        <p>25 April vrij</p>
        <p>26 April vrij</p>
        <p>27 April vrij</p>
        <p>28 April baan training van 10 tot 13 uur</p>
        <p>29 April vrij</p>
        <p>30 April vrij</p>
      </div>
    </div>

    <div id="april-fase">
      <h3>
        Fase planning voor de maand  April
      </h3>
      <p>1 tot en met 17 april fase Hypertrophie fase</p>
      <p>18 tot en met 30 april fase Anaerobe capaciteit - krachtduur</p>
    </div>


  </article>

  <article id="mei">

    <header>
      <h2>Schema voor de maand Mei</h2>
    </header>

    <nav id="nav-mei">
      <ul>
        <li>
          <a href="#mei-1">eerste week</a>
        </li>
        <li>
          <a href="#mei-2">tweede week</a>
        </li>
        <li>
          <a href="#mei-3">derde week</a>
        </li>
        <li>
          <a href="#mei-4">laatste dagen van de maand Mei</a>
        </li>
        <li>
          <a href="#mei-fase">Fase planning maand Mei</a>
        </li>
      </ul>
    </nav>

    <div id="mei-1">
      <h3>Mei week 1</h3>
      <p>1 mei baan training van 10 tot 13 uur</p>
      <p>2 mei vrij</p>
      <p>3 mei vrij</p>
      <p>4 mei baan training van 14 tot 16 uur</p>
      <p>5 mei baan training van 10 tot 13 uur</p>
      <p>6 mei vrij</p>
      <p>7 mei vrij</p>
    </div>

    <div id="mei-2">
      <h3>Mei week 2</h3>
      <p>8 mei baan training van 10 tot 13 uur</p>
      <p>9 mei vrij</p>
      <p>10 mei vrij</p>
      <p>11 mei vrij</p>
      <p>12 mei baan training van 11 tot 13 uur</p>
      <p>13 mei baan training in Alkmaar van half 12 tot half 3</p>
      <p>14 mei vrij</p>
    </div>

    <div id="mei-3">
      <h3>Mei week 3</h3>
      <p>15 mei vrij</p>
      <p>16 mei vrij</p>
      <p>17 mei vrij</p>
      <p>18 mei vrij</p>
      <p>19 mei wedstrijd in Alkmaar van 11 tot 13 uur</p>
      <p>20 mei vrij</p>
      <p>21 mei vrij</p>
    </div>

    <div id="mei-4">
      <h3>Laatste dagen van de maand Mei</h3>
      <p>22 mei baan training ing in Alkmaar van 11 tot 13 uur</p>
      <p>23 mei vrij</p>
      <p>24 mei vrij</p>
      <p>25 mei baan training van 14 tot 16 uur</p>
      <p>26 mei baan training van 10 tot 13 uur</p>
      <p>27 mei vrij</p>
      <p>28 mei vrij</p>
      <p>29 mei baan training van 11 tot 13 uur</p>
      <p>30 mei vrij</p>
      <p>31 mei vrij</p>
    </div>

    <div id="mei-fase">
      <h3>
        Fase planning voor de maand Mei
      </h3>
      <p>1 tot en met 3 mei fase Anaerobe capaciteit - krachtduur</p>
      <p>4 tot en met 22 mei fase Anaerobe vermogen - Snelheid</p>
      <p>23 tot en met 31 mei fase Conditie</p>
    </div>

  </article>

</main>

<%- include('partials/footer') %>
<%- include('partials/foot') %>
