body > header {
  position: relative;
  height: 100vh;
  text-align: center;
  &:before {
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 50%;
    height: 100%;
    display: inline-block;
    content: '';
    background-image: url('/images/horse-head.png');
    background-repeat: no-repeat;
    background-position: bottom left;

  }
  &:after {
    position: absolute;
    right: 0;
    bottom: 100px;
    width: 50%;
    height: 100%;
    display: inline-block;
    content: '';
    background-image: url('/images/horse-head.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  //background-image: url('/images/horse-head.png');
  //background-repeat: no-repeat;
  //background-position: bottom left;
}
